@import "../../../../variables.scss";
.EntrySummary {
  width: 86%;
  padding: 2rem;
  padding-bottom: 1.4rem;
  font-size: 1.5rem;
  border-radius: 0.6rem;
  background-color: rgba($light-gray, 0.1);
  box-shadow: 0.1rem 0.1rem 0.4rem rgba(black, 0.2);
  border-bottom: 0.6rem solid transparent;
  transition: 0.3s;
  position: relative;
  margin-bottom: 2rem;
  cursor: pointer;

  &:hover &-delete {
    opacity: 1;
  }
  &-header {
    font-size: 2rem;
    margin-left: 1rem;
    margin-bottom: 3rem;
    font-weight: 800;
    color: rgb(126, 126, 126);
  }

  &-delete {
    position: absolute;
    top: 1rem;
    left: 93%;
    color: rgb(194, 86, 86);
    font-weight: 600;
    opacity: 0;
    transition: 0.3s;
    padding: 0rem 0.4rem;
  }

  &-title {
    font-size: 1.8rem;
    font-weight: 600;
    color: rgb(99, 99, 99);
    margin-bottom: 2rem;
  }

  &-time {
    font-size: 1.8rem;
    font-weight: 600;
    color: rgb(99, 99, 99);
    margin-bottom: 2rem;
  }
  &-tags {
    font-weight: 600;
    color: rgb(179, 179, 179);
    &-empty {
      transform: translateY(0.6rem);
      margin-bottom: 1.5rem;
    }
  }

  &-completion {
    font-weight: 600;
    color: rgb(179, 179, 179);
    margin-bottom: 1rem;
    &-array {
      color: $array-font;
    }

    &-dp {
      color: $dp-font;
    }

    &-dc {
      color: $dc-font;
    }

    &-linkedlist {
      color: $linkedlist-font;
    }

    &-string {
      color: $string-font;
    }

    &-graph {
      color: $graph-font;
    }

    &-stack {
      color: $stack-font;
    }

    &-queue {
      color: $queue-font;
    }

    &-tree {
      color: $tree-font;
    }

    &-bit {
      color: $bit-font;
    }

    &-backtracking {
      color: $backtracking-font;
    }

    &-greedy {
      color: $greedy-font;
    }
  }

  &-solved {
    font-weight: 600;
    margin-bottom: 1rem;
    color: rgb(179, 179, 179);
    &-withSolution {
      margin-left: 0.5rem;
      color: rgba($difficulty-hard, 0.4);
    }
    &-withoutSolution {
      margin-left: 0.5rem;
      color: rgba($difficulty-easy, 0.6);
    }
  }

  &-easy {
    &:hover {
      border-color: rgba($difficulty-easy, 0.3);
    }
  }

  &-medium {
    &:hover {
      border-color: rgba($difficulty-medium, 0.2);
    }
  }

  &-hard {
    &:hover {
      border-color: rgba($difficulty-hard, 0.2);
    }
  }
}
.NoteEntry {
  position: relative;
  &-lastUpdated {
    margin-top: 2.8rem;
    margin-right: 0.4rem;

    float: right;
    color: rgb(136, 136, 136);
  }

  &:hover &-delete {
    opacity: 1;
  }

  &-delete {
    position: absolute;
    top: 1rem;
    left: 93%;
    color: rgb(194, 86, 86);
    font-weight: 600;
    opacity: 0;
    transition: 0.3s;
    padding: 0rem 0.4rem;
  }
}

.EntrySummary.NoteEntry {
  height: 6rem;
  padding-bottom: 4.6rem;

  &-array-note {
    &:hover {
      border-color: $array;
    }
  }

  &-dp-note {
    &:hover {
      border-color: $dp;
    }
  }

  &-dc-note {
    &:hover {
      border-color: $dc;
    }
  }

  &-linkedlist-note {
    &:hover {
      border-color: $linkedlist;
    }
  }

  &-string-note {
    &:hover {
      border-color: $string;
    }
  }

  &-graph-note {
    &:hover {
      border-color: $graph-font;
    }
  }
  &-stack-note {
    &:hover {
      border-color: $stack;
    }
  }

  &-queue-note {
    &:hover {
      border-color: $queue;
    }
  }

  &-tree-note {
    &:hover {
      border-color: $tree;
    }
  }

  &-bit-note {
    &:hover {
      border-color: $bit;
    }
  }

  &-backtracking-note {
    &:hover {
      border-color: $backtracking;
    }
  }

  &-greedy-note {
    &:hover {
      border-color: $greedy;
    }
  }
}
