@import "../../variables.scss";

.RecentQuestionsPanel {
  height: 100%;
  background-color: white;
  grid-row: 1 / 2;
  grid-column: 3/-1;
  margin-left: 2rem;
  border-radius: 1rem;
  position: relative;

  &-title {
    font-size: 3rem;
    text-align: left;
    display: inline-block;
    padding-bottom: 2rem;
    padding-top: 3.3rem;
    padding-left: 12rem;
    color: $theme-blue;
    letter-spacing: 0.1rem;

    &::before {
      content: "";
      position: absolute;
      height: 7rem;
      width: 7rem;
      top: 3.5%;
      left: 4%;
      border-radius: 50%;
      background-color: rgba($theme-blue, 0.3);
      display: inline-block;
    }
  }

  &-icon {
    height: 3.8rem;
    width: 3.8rem;
    position: absolute;
    top: 6.75%;
    left: 7.2%;
  }
  &-icon path {
    fill: rgba(black, 0.6);
  }

  &-questions {
    padding: 0 1.3rem;
  }
}
