$logo-purple: #BE93C5;
$logo-blue: #7BC6CC;
$theme-green:#31c292;
$theme-blue: #3f85e0;
$theme-navy: #003366;
$light-gray: #dfdede;

$difficulty-easy:#49b649;
$difficulty-medium: #f1a80b;
$difficulty-hard: #ca0903;

$marker-easy:#49b649; 
$marker-medium:#f1a80b;
$marker-hard: #ca0903;

$array: #cddff1;
$dp: #e0d2e9;
$linkedlist: #f2f3c1;
$bit: #c9ddc0;
$stack: #c5eef8;
$graph: #f5c7c7;
$string: #f5d6af;
$greedy: #d3cfe9;
$dc: #f8e3f0;
$queue: #bdeecc;
$tree: #d6deeb;
$sort: #e7e5e5;
$backtracking:#f7cbdb;
$tag-easy: #c7f3c2;
$tag-medium: #ffe3ae;
$tag-hard: #f7c7c7;

$gray-font: #727272;