$logo-purple: #be93c5;
$logo-blue: #7bc6cc;
$theme-green: #31c292;
$theme-blue: #3f85e0;
$theme-navy: #003366;
$light-gray: #dfdede;

$difficulty-easy: #49b649;
$difficulty-medium: #f1a80b;
$difficulty-hard: #ca0903;

$marker-easy: #49b649;
$marker-medium: #f1a80b;
$marker-hard: #ca0903;

$array: #cde3f8;
$dp: #ebd5f8;
$linkedlist: #f4f5ba;
$bit: #ddf5ca;
$stack: #c3f0fc;
$backtracking: #f7d5d5;
$string: #ffe6c8;
$tree: #e2def5;
$dc: #f5def8;
$queue: #c8f1da;
$greedy: #c4f3eb;
$graph: #ffd6e5;
$default-tag: #f1f1f1;
$tag-easy: #c7f3c2;
$tag-medium: #ffe3ae;
$tag-hard: #f7c7c7;

$gray-font: #727272;
