@import "../../../variables.scss";

.FormEntryNotes {
  padding: 0.5rem;
  font-size: 2rem;

  &-title {
    font-size: 1.6rem;
    color: rgba($logo-purple, 0.6);
    text-transform: uppercase;
    font-weight: 600;
    margin-left: 1rem;
    margin-top: 4rem;
  }

  &-editor {
    margin-top: 2rem;
    padding: 1.5rem;
    border: 0.2rem solid rgba($logo-purple, 0.4);
    border-radius: 1.2rem;
  }

  .ql-snow .ql-picker-options .ql-picker-item {
    color: darkgray !important;

    &:hover {
      color: $logo-purple !important;
    }
  }

  .hide-toolbar {
    display: none;
  }

  .ql-formats select {
    padding: 0 2rem !important;
  }
  .ql-formats {
    padding: 0 1.2rem;
    #bold,
    #italic,
    #underline,
    #list-1,
    #list-2,
    #indent-1,
    #indent-2,
    #image,
    #code-block {
      path,
      line,
      rect,
      circle,
      polyline {
        stroke: darkgray;
      }

      &:hover {
        path,
        line,
        rect,
        circle,
        polyline {
          stroke: #dec1e2 !important;
        }
      }

      &.ql-active {
        path,
        line,
        rect,
        circle,
        polyline {
          stroke: $logo-purple !important;
        }
      }
    }

    #align,
    #background,
    #size,
    #color {
      :focus {
        outline: none !important;
      }
    }

    #size {
      color: $logo-purple !important;

      polygon {
        stroke: darkgray !important;
      }
    }

    #background,
    #color,
    #size {
      &:hover {
        path,
        line,
        circle,
        polygon,
        polyline {
          stroke: #dec1e2 !important;
        }
      }

      &.ql-active {
        path,
        line,
        circle,
        polygon,
        polyline {
          stroke: $logo-purple !important;
        }
      }
    }
  }

  .ql-editor {
    min-height: 63rem;
    font-family: Quicksand;
    color: rgba(black, 0.6);
  }

  &-lg {
    .ql-editor {
      min-height: 50rem;
    }
  }

  .ql-syntax {
    background-color: rgb(245, 245, 245) !important;
    color: $logo-purple !important;
    font-size: 1.5rem !important;
  }
}

.ql-snow.ql-toolbar button:hover,
.ql-snow .ql-toolbar button:hover,
.ql-snow.ql-toolbar button:focus,
.ql-snow .ql-toolbar button:focus,
.ql-snow.ql-toolbar button.ql-active,
.ql-snow .ql-toolbar button.ql-active,
.ql-snow.ql-toolbar .ql-picker-label:hover,
.ql-snow .ql-toolbar .ql-picker-label:hover,
.ql-snow.ql-toolbar .ql-picker-label.ql-active,
.ql-snow .ql-toolbar .ql-picker-label.ql-active,
.ql-snow.ql-toolbar .ql-picker-item:hover,
.ql-snow .ql-toolbar .ql-picker-item:hover,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected {
  color: $logo-purple !important;
}

#align span.ql-picker-item:hover {
  line {
    stroke: $logo-purple !important;
  }
}

#align .ql-snow .ql-color-picker .ql-picker-label svg,
.ql-snow .ql-icon-picker .ql-picker-label {
  line {
    stroke: $logo-purple !important;
  }
}
