.Dashboard {
  border-bottom-right-radius: 2rem;
  padding: 2rem;
  padding-bottom: 2rem;
  display: grid;
  grid-template-rows: 60.5% 10rem 1fr;
  grid-template-columns: 48.5% 12.8% 38.7%;
  overflow-y: scroll;
  &-empty {
    display: inline-block;
    float: left;
    height: 1rem;
    margin: 0;
    text-align: center;
    width: 2rem;
  }
}
