@import "../../../variables.scss";
.ModalComponent {
  z-index: 1001;
  background-color: white;
  border-radius: 0.5rem;
  position: fixed;
  box-sizing: content-box;
  left: 50%;
  top: 50%;
  padding: 2rem;
  padding-bottom: 0rem;
  transform: translate(-50%, -50%);

  &-withScroll {
    overflow-y: scroll;
  }

  &-header {
    font-size: 3rem;
    font-weight: 600;
    color: rgba(black, 0.6);
    margin-bottom: 1.5rem;
    margin-left: 1rem;
  }

  &-close {
    font-size: 2rem;
    font-weight: 600;
    float: right;
    transform: translate(-0.4rem, -0.4rem);
    cursor: pointer;
    color: rgb(190, 44, 44);
  }
}

.ReviewDateEditModal {
  font-size: 2rem;
  padding: 3rem;
  text-align: center;
  padding-top: 2rem;

  &-buttons {
    float: right;
  }

  &-date {
    display: inline-block;
    margin-top: 1rem;
    font-weight: 600;
    color: rgba(black, 0.7);
  }

  &-button {
    margin: 2rem 1rem;
    padding: 1rem 6rem;
    border: none;
    outline: none;
    border-radius: 1rem;
    color: rgba(black, 0.7);
    opacity: 0.6;
    transition: 0.3s;
    cursor: pointer;
    &-yes {
      background-color: rgba(rgb(65, 189, 65), 0.4);
    }
    &-no {
      background-color: rgba(rgb(189, 65, 65), 0.4);
    }
    &:hover {
      opacity: 1;
    }
  }
}

.EntryModal {
  &-solved {
    padding: 1.5rem 1.2rem;
    width: 80%;
    text-align: center;
    margin-left: 1rem;
    margin-top: 4rem;
    font-weight: 600;
    color: rgba(black, 0.6);
    border-radius: 1.5rem;
  }
  &-solvedWithSolution {
    background-color: rgba($difficulty-hard, 0.1);
  }

  &-solvedWithoutSolution {
    background-color: rgba($difficulty-easy, 0.2);
  }

  &-completionTime {
    margin-top: 10rem;
    margin-left: -8rem;
    text-align: center;
    font-weight: 600;
    color: rgba(black, 0.8);
    &-time {
      color: $theme-blue;
      margin-left: 2rem;
    }
  }

  &-tags {
    margin-top: 2rem;
    &-box {
      font-weight: 600;
      color: rgba(black, 0.8);
      margin-top: 9rem;
      margin-left: -8rem;
      text-align: center;
    }

    &-empty {
      margin-top: 0.8rem;
      padding: 1.5rem;
      font-size: 1.5rem;
      background-color: rgba(lightgray, 0.45);
      color: rgba(black, 0.5rem);
      border-radius: 2rem;
      width: 20%;
      display: inline-block;
    }
  }
}

.NoteModal {
  &-editor {
    grid-column: 2/-1;
    margin-top: -1rem;
    .EntryModal {
      .ql-editor {
        min-height: 50rem;
      }
    }
  }

  &-box {
    display: grid;
    grid-template-columns: 40% 60%;
  }

  &-info {
    grid-column: 1/2;
    margin-top: 15%;
    font-size: 2rem;
    margin-left: 2rem;
  }

  &-title {
    font-size: 2rem;
    font-weight: 600;
    color: rgba(black, 0.4);
    margin-top: 1.4rem;
    margin-left: 8rem;
    color: rgba($logo-purple, 0.5);
    &-input {
      margin-bottom: 0.3rem;
      font-size: 2.4rem;
      padding: 1rem 1.5rem;
      min-width: 82%;
      margin-left: 3rem;
      outline: none;
      color: rgba(black, 0.5);
      transform: translateY(0.2rem);
      border: none;
      border-radius: 0.5rem;

      &:focus {
        background-color: rgba(lightgray, 0.21);
      }
      &::placeholder {
        font-style: italic;
        font-size: 2.1rem;
        color: rgba(black, 0.2);
      }
      &-invalid {
        border-bottom: solid 0.24rem rgba(rgb(223, 92, 92), 0.5);
      }
    }
  }

  &-button {
    padding: 1.7rem 12rem;
    margin: 2rem 1rem;

    float: right;
    outline: none;
    color: rgba(black, 0.5);
    border-radius: 1rem;
    border: none;
    opacity: 0.6;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      opacity: 1;
    }
  }

  &-save {
    background-color: rgba($theme-blue, 0.3);
  }

  &-edit {
    background-color: rgba(rgb(241, 160, 8), 0.3);
  }
}
