@import "../../../../variables.scss";
.FormEntryRadioDropdown {
  width: 90%;
  padding: 3rem 1rem 1.8rem 1rem;
  margin-left: 2rem;
  margin-top: 0.8rem;
  box-sizing: border-box;
  &-label {
    width: 15%;
    font-size: 1.5rem;
    color: rgba($theme-blue, 0.6);
    margin-right: 2rem;
    text-transform: uppercase;
    height: 5rem;
    transform: translateY(-0.8rem);
    font-weight: 600;
    display: inline-block;
  }
  &-radio {
    width: 3rem;
    height: 3rem;
    margin-left: 2rem;
    transform: translateY(0.8rem);
    &-label {
      font-size: 2.2rem;
      padding-right: 2rem;
    }
  }
}

.react-datepicker {
  font-size: 1.6rem !important;
  overflow: hidden;
  border: 0.1rem solid rgba($theme-green, 0.6) !important;

  &__current-month {
    font-size: 1.9rem !important;
    color: rgba(black, 0.5) !important;
  }
  &__header {
    padding-top: 0.8rem !important;
    background-color: rgba($theme-green, 0.2) !important;
  }

  &__day-name,
  &__day {
    margin: 0.43rem !important;
    padding: 0.6rem !important;
    color: rgba(black, 0.5) !important;

    &:focus {
      outline: none;
    }
  }

  &__day {
    color: rgba(black, 0.5);
    &--selected {
      background-color: rgba($theme-green, 0.3) !important;
      color: rgba(black, 0.5) !important;
    }
  }

  &-ignore-onclickoutside {
    outline: none;
    border: 0.2rem solid rgba(#218d69, 0.25) !important;
  }

  &__navigation {
    top: 1.3rem !important;
    &:focus {
      outline: none;
    }
  }
  &__month {
    margin: 0.4rem 1rem;
  }
  &-wrapper input {
    font-size: 2.2rem;
    padding: 0.8rem;
    margin-left: 1rem;
    color: rgba(black, 0.5);
    font-family: inherit;
    border: 0.2rem solid rgba(#2e67b3, 0.35);
  }
}
