@import "../../variables.scss";
.AddForm {
  height: 80vh;
  padding-bottom: 2rem;
  margin: 2rem;
  background-color: white;
  border-radius: 1.5rem;
  padding: 2rem;
  display: grid;
  grid-template-columns: 45% 55%;
  grid-template-rows: 7rem;
  overflow-y: scroll;

  &-title {
    font-size: 3.5rem;
    letter-spacing: 0.2rem;
    color: rgba(black, 0.5);
    background-color: rgba($theme-green, 0.2);
    padding: 1.3rem;
    box-sizing: border-box;
    grid-row: span 1;
    grid-column: span 2;
    border-radius: 1.5rem;
    text-align: center;
  }
  &-submit {
    margin-top: 3rem;
    margin-left: 24%;
    width: 50%;
    font-family: inherit;
    text-align: center;
    font-size: 3.5rem;
    letter-spacing: 0.2rem;
    color: rgba(black, 0.5);
    background-color: rgba($theme-green, 0.17);
    padding: 1.3rem;
    box-sizing: border-box;
    grid-row: span 1;
    grid-column: span 2;
    border-radius: 1.5rem;
    text-align: center;
    border: none;

    &:focus {
      outline: none;
    }

    &:hover {
      background-color: rgba($theme-green, 0.27);
    }
  }
  &-empty {
    height: 3rem;
    display: inline-block;
  }
}
