@import "../../../variables.scss";
.DatabaseItem {
  width: 90%;
  margin: 2.6rem;
  margin-bottom: 1rem;
  box-shadow: 0.2rem 0.2rem 2rem rgba(0, 0, 0, 0.089);
  border-radius: 0.5rem;
  display: inline-block;
  transition: 0.1s;
  text-decoration: none;

  &:hover {
    width: 92%;
  }

  &:hover &-title {
    opacity: 1;
  }

  &:hover &-details {
    color: rgba(black, 0.7);
  }
  &-title {
    font-size: 2.5rem;
    color: rgba(black, 0.7);
    letter-spacing: 0.1rem;
    padding: 1rem;
    border-top-left-radius: 0.2rem;
    border-top-right-radius: 0.2rem;
    padding-left: 1rem;
    opacity: 0.8;
  }

  &-details {
    font-size: 1.5rem;
    padding: 1rem 1rem;
    padding-left: 1rem;
    color: rgba(black, 0.5);
  }

  &-array {
    background-color: $array;
  }

  &-bit {
    background-color: $bit;
  }
  &-linkedlist {
    background-color: $linkedlist;
  }
  &-graph {
    background-color: $graph;
  }
  &-stack {
    background-color: $stack;
  }
  &-string {
    background-color: $string;
  }
  &-queue {
    background-color: $queue;
  }
  &-tree {
    background-color: $tree;
  }
  &-dp {
    background-color: $dp;
  }
  &-backtracking {
    background-color: $backtracking;
  }
  &-dc {
    background-color: $dc;
  }
  &-greedy {
    background-color: $greedy;
  }
}
