@import "../../variables.scss";

.QuestionPanel {
  margin: 2rem;
  border-radius: 1.5rem;
  background-color: white;
  position: relative;
  padding: 2rem;
  overflow-y: scroll;

  &-scrollOff {
    overflow: hidden;
  }

  &-box {
    margin: 4rem;

    &-header {
      font-size: 2rem;
      margin-left: 1rem;
      margin-bottom: 3rem;
      font-weight: 800;
      color: rgb(126, 126, 126);
    }
  }

  &-entries {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    margin: 2rem;
    justify-content: center;
    justify-items: center;
  }

  &-revision {
    grid-column: 2/3;
    font-size: 2rem;
    margin: 1rem 0 1rem 10rem;
    padding: 1.6rem 5rem;
    position: relative;

    &-label {
      display: inline-block;
      transform: translateY(0.4rem);
    }

    &-remove {
      display: inline-block;
      position: absolute;
      font-size: 1.7rem;
      top: 1rem;
      left: 78% !important;
      cursor: pointer;
      color: transparent;
      transition: 0.3s;
      font-weight: 600;

      &-withSave {
        left: 82% !important;
      }
    }

    &-save {
      cursor: pointer;
      height: 1.4rem;
      position: absolute;
      top: 1.6rem;
      left: 78% !important;
      path {
        transition: 0.3s;
        fill: transparent;
      }
    }

    &:hover &-save path {
      fill: green;
    }
    &:hover &-remove {
      color: rgb(228, 23, 23);
    }
  }

  &-info {
    display: inline-block;
    margin: 3rem 0 1rem 3rem;
    font-size: 1.7rem;
    border-radius: 1.3rem;
    letter-spacing: 0.1rem;
    font-weight: 500;
    width: 20rem;
    padding: 1.6rem 5rem;
    text-align: center;
    &-bar {
      display: grid;
      grid-template-columns: 25% 47% 28%;
      grid-template-rows: 9.3rem;
    }
  }

  &-url {
    background-color: rgba($dp, 0.8);
    grid-column: 3/-1;
    color: black;
    text-decoration: none;
    position: relative;
    padding-left: 2rem;
    width: 26rem;

    &:hover &-icon {
      transform: translateX(0.4rem);
    }
    &-icon {
      position: absolute;
      top: 1.9rem;
      left: 27rem;
      height: 1.6rem;
      width: 1.6rem;
      transition: 0.3s;
    }
  }

  &-array {
    background-color: rgba($array, 0.8);
  }

  &-dp {
    background-color: rgba($dp, 0.8);
  }

  &-dc {
    background-color: rgba($dc, 0.8);
  }

  &-linkedlist {
    background-color: rgba($linkedlist, 0.8);
  }

  &-string {
    background-color: rgba($string, 0.8);
  }

  &-graph {
    background-color: rgba($graph, 0.8);
  }

  &-stack {
    background-color: rgba($stack, 0.8);
  }

  &-queue {
    background-color: rgba($queue, 0.8);
  }

  &-tree {
    background-color: rgba($tree, 0.8);
  }

  &-bit {
    background-color: rgba($bit, 0.8);
  }

  &-backtracking {
    background-color: rgba($backtracking, 0.8);
  }

  &-greedy {
    background-color: rgba($greedy, 0.8);
  }

  &-easy {
    background-color: rgba($difficulty-easy, 0.25);
  }

  &-medium {
    background-color: rgba($difficulty-medium, 0.3);
  }

  &-hard {
    background-color: rgba($difficulty-hard, 0.2);
  }
}
