@import "../../variables.scss";
.PaginationDataSelector {
  display: flex;
  justify-content: center;
  &-icon {
    height: 1.8rem;
    width: 1.8rem;
    transition: 0.2s;
  }

  &-icon path {
    fill: rgba(black, 0.6);
  }

  &-page {
    display: inline-block;
    font-size: 2rem;
    margin: -1.4rem 2rem;
    border-radius: 50%;
    padding: 1rem 1.8rem;
    background-color: rgba($light-gray, 0.5);

    &-box {
      display: flex;
      margin: 0 2rem;
      margin-bottom: 2rem;
      align-items: center;
    }
  }

  &-page-sm {
    padding: 0.7rem 1.4rem;
    font-size: 1.6rem;
  }

  &-icon-sm {
    height: 1.5rem;
    width: 1.5rem;
    transform: translateY(-0.4rem);
  }

  &-icon-disabled path {
    fill: rgba(gray, 0.3);
  }

  &-page-active {
    background-color: rgba($theme-blue, 0.3);
  }
}
