@import "../../../../variables.scss";
.FormEntryRadio {
  width: 90%;
  padding: 1.2rem 1rem 0rem 1rem;
  margin-left: 2rem;
  margin-top: 1.2rem;
  box-sizing: border-box;
  border-bottom: 0.1rem solid rgba(gray, 0.4);
  &-label {
    width: 15%;
    font-size: 1.5rem;
    color: rgba($theme-blue, 0.65);
    text-transform: uppercase;
    height: 5rem;
    transform: translateY(-0.8rem);
    font-weight: 600;
    display: inline-block;
    margin-right: 3.8rem;
    @media only screen and (max-width: 2185px) {
      margin-right: 2rem;
    }
    @media only screen and (max-width: 1850px) {
      margin-right: 1rem;
      font-size: 1.2rem;
      height: 4rem;
    }

    @media only screen and (max-width: 1360px) {
      margin-right: 7rem;
      font-size: 1.5rem;
      height: 5.5rem;
    }
    @media only screen and (max-width: 915px) {
      margin-right: 6rem;
    }
  }
  &-radio {
    height: 3rem;
    margin-left: 2rem;
    &-label {
      margin-left: 1rem;
      &:first-of-type {
        margin-right: 2rem;
        @media only screen and (max-width: 975px) {
          margin-right: 0rem;
        }
      }
      font-size: 2.2rem;
      @media only screen and (max-width: 1850px) {
        font-size: 1.8rem;
      }
      @media only screen and (max-width: 1425px) {
        font-size: 1.7rem;
      }

      @media only screen and (max-width: 1360px) {
        font-size: 1.9rem;
      }

      @media only screen and (max-width: 915px) {
        font-size: 1.7rem;
      }

      cursor: pointer;
    }
    &-button {
      display: inline-block;
      height: 2.3rem;
      width: 2.3rem;
      @media only screen and (max-width: 1850px) {
        height: 2rem;
        width: 2rem;
        margin-left: 1rem;
        transform: translateY(0.5rem);
      }
      @media only screen and (max-width: 1360px) {
        margin-left: 2rem;
        height: 2.3rem;
        width: 2.3rem;
        margin-right: 4rem;
        transform: translateY(0.7rem);
      }
      @media only screen and (max-width: 915px) {
        margin-right: 1.7rem;
        margin-left: 1.7rem;
      }
      border-radius: 50%;
      border: 0.1rem solid rgba(black, 0.2);
      margin-left: 1.6rem;
      transform: translateY(0.6rem);
      &-selected {
        background-color: rgba($theme-blue, 0.3);
      }
    }
  }
}
