@import "../../../../variables.scss";

.RecentQuestion {
  font-size: 2rem;
  margin: 2rem 4rem;
  padding: 1.2rem;
  padding-left: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  box-shadow: 0rem 0.3rem 1.2rem #0000001f;
  &-easy {
    border-top: solid 0.5rem rgba($difficulty-easy, 0.7);
    border-radius: 0.5rem;
  }

  &-medium {
    border-top: solid 0.5rem rgba($difficulty-medium, 0.5);
    border-radius: 0.5rem;
  }

  &-hard {
    border-top: solid 0.5rem rgba($difficulty-hard, 0.5);
    border-radius: 0.5rem;
  }

  &-title {
    padding-left: 1rem;
    display: inline-block;
  }

  &-date {
    padding-left: 2rem;
    float: right;
    font-size: 1.3rem;
    margin-top: -1rem;
  }
}
