.RevisionQuestion{ 
    margin: 2rem;
    border: .3rem solid #b5cbe4;
    padding: 1rem;
    border-radius: .5rem;
    display: grid;
    grid-template-rows: 3.7rem 2.7rem;
    grid-template-columns: 40% 15% 19% 1fr;
    &-title{ 
        font-size: 2rem;
        margin-right: 2rem;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        grid-column: span 3;
    }

    &-date{
        font-size: 1.2rem;
        font-weight: 600; 
        &-content {
            color: rgb(91, 121, 206);
        }
    }

    &-buttons{
        grid-column: 3/-1;
        opacity: 0;
        transition: opacity .4s;
    }
    &:hover &-buttons{
        opacity: 1;
    }
}